<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome to Marucci Elite</title>
  <style type="text/css">
    html {
      padding: 0;
      margin: 0;
    }
    html, body {
      margin: width: 100%;
      height: 100%;
    }
    #outlook a {
      padding: 0;
    }
    body {
      -webkit-text-size-adjust: none;
      background: #fcfcfc url(http://s3.amazonaws.com/yardio/public/img/bg.png) 0 0 repeat;
      color: #999999;
      font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
      font-size: 12px;
      line-height: 16px;
      text-shadow: 0 1px #ffffff;
    }
    img {
      border:0;
      height:auto;
      line-height:100%;
      outline:none;
      text-decoration:none;
    }
     h1, h2, h3, h4 {
      color: #3552bd;
      text-shadow:0 1px 1px #fff;
    }
    #header {
      position: relative;
      width: 560px;
      margin: 0 auto 0 auto;
      margin-top: 80px;
      margin-bottom: 20px
    }
    #header a h1 {
      font-size: 28px;
      font-family: "Georgia";
      font-weight: 500;
      letter-spacing: -2px;
      text-align: center;
    }
    #container {
      margin: 0 0 0 0;
      height: 100%;
      width: 100%;
      border: none;
    }
    #content {
      position: relative;
      width: 560px;
      margin: 0 auto 0 auto;
      background: #f9f9f9;
      background-color:rgba(255, 255, 255, 0.85);
      -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.25);
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.25);
      padding: 0 0 20px 0;
    }
    #footer {
      position: relative;
      width: 560px;
      margin: 0 auto 0 auto;
      margin-top: 20px;
    }
    #footer p {
      text-align: center;
    }
    a {
      color: #3552bd;
      text-decoration: none;
      border-bottom: 1px solid #3552bd;
    }
    a:hover{
      color: #3552bd;
      border-bottom: 2px solid #3552bd
    }
    .email {
      width: 500px;
      background: #fff;
      position: relative;
      margin: 0 auto 0 auto;
      margin-top: 20px;
      padding:10px 15px 10px 15px;
    }
    .email p {
      margin: 10px 0 10px 0;
      color: #999999;
      line-height: 18px;      
    }
    .email .strong {
      font-weight: bold;
      color: #666;
    }
    .email .italic {
      font-style: italic;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="header">
        <a href="/">
        <h1>Marucci Elite</h1>
      </a>  
    </div>
    <div id="content">
      <%-body %>
    </div>
    <div id="footer">
      <p><em>© 2012 Marucci Elite</em> / <a href="/">Notification Preferences</a></p>
    </div>
  </div>
</body>