
<div class="email">
  <p><span class="strong">Hi <%= name %>,</span></p>
  <p>Someone sent you a message on <span class="strong">Marucci Elite.</span></p>
  <p><a href="<%= base_url %>/messages">Click here to view the message</a></p>
  <p><span class="italic">Regards,</span></p>
  <p><span class="strong">Marucci Elite</span></p>
</div>
