
<div class="email">
  <p>Someone (probably you) has requested to have your password reset.</p>
  <p><a href="<%= reset_url %>">Click to reset your password</a></p>
  <p><span class="italic">Regards,</span></p>
  <p><span class="strong">Marucci Elite</span></p>
</div>