
<div class="email">
  <p><span class="strong">Hi <%= name %></span>,</p>
  <p>As one of our very first users we'd like to thank you for trying out our service! As we continue to roll out new features and add new users, feel free to stop by every now and then to let us know what you think. We're building a community <i>for you</i> so the more feedback we get, the better it will be!</p>
  <p><a href="<%= base_url %>/user/confirm-email/<%= email %>/<%= verified_email_uuid %>/">Please Click to Verify your Email Address!</a></p>
  <p><span class="italic">Regards,</span></p> 
  <p><span class="strong">Marucci Elite</span></p>
</div>
